.infographic-wrapper {
  width: 100%;
  min-height: 850px;
  background: #fbd9b6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-wheel {
  position: relative;
  width: 450px;
  height: 450px;
}

.wheel-img {
  width: 100%;
  height: 100%;
}

.inner-circle {
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-title {
  font-size: 26px;
  font-weight: bold;
}

/* Center Icons */
.center-icon {
  width: 40px;
  position: absolute;
}

.icon-1 { top: 20%; left: 42%; }
.icon-2 { top: 31%; left: 65%; }
.icon-3 { top: 60%; left: 69%; }
.icon-4 { top: 75%; left: 43%; }
.icon-5 { top: 60%; left: 20%; }
.icon-6 { top: 31%; left: 15%; }

/* Outer item blocks */
.item-block {
  position: absolute;
  width: 300px;
  display: flex;
  align-items: center;
}

.circle-number {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: 6px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.num {
  color: #000;
}

.text-card {
  margin-left: 15px;
  background: white;
  border-radius: 15px;
  padding: 15px;
  width: 220px;
}

.card-title {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.card-desc {
  font-size: 13px;
  margin: 0;
}

/* Outer positions */
.block-1 { bottom: 10%; left: 10%; }
.block-2 { top: 40%; left: 5%; }
.block-3 { top: 10%; left: 12%; }
.block-4 { top: 10%; right: 12%; }
.block-5 { top: 40%; right: 5%; }
.block-6 { bottom: 10%; right: 10%; }
